/* NAVBAR */

.app-navbar {
  padding: 13px;
  background-color: #1c1c1c;

  & ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    @media (max-width: 575px) {  
      column-gap: 30px;
      padding: 0;
    }

    & li {
      font-size: 1.2rem;
      @media (max-width: 575px) {
        font-size: 0.9rem;
      }

      & a {
        color: #FFF;

        &.active {
          text-decoration: underline !important;
          text-underline-offset: 7px
        }
      }
    }
  }
}


/* TASK 1 - TESTIMONIALS */

section.client-testimonials {
  width: 100%;
  padding: calc(1.5625vw + 30px);
  margin: calc(1.5625vw + 30px) 0;
  background-color: #F9FDF7;

  & .client-testimonials-cont {
    padding: calc(1.5625vw + 30px);

    & .testimonial-display-cont {
      position: relative;

      & .left-arrow-btn {
        position: absolute;
        top: 50%;
        right: 100%;
      }

      & .right-arrow-btn {
        position: absolute;
        top: 50%;
        left: 100%;
      }
    }
  }

  & .master-heading {
    color: #f34d33; 
    background: linear-gradient(1turn,#F1F4F9 4.5%,#ececec 78.5%);
    border: 1px solid #c4c4c4;
  }

  & h1 {
    font-size: 3.625rem;
    line-height: 4.5rem;
    font-weight: 700;
  }

  & h4.testimonial-text {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
  }

  & .active-testimonial {

    & .designation,
    & .work {
      color: #667085;
    }

    & .designation {
      margin-bottom: 0;
    }
  }

  & .testimonials-slide {

    & .avatar {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &.avatar-0:after {
        background: linear-gradient(
          to left, 
          rgba(255, 255, 255, 0.7) 0%, 
          rgba(255, 255, 255, 0.8) 50%, 
          rgba(255, 255, 255, 0.9) 100%
        );
      }

      &.avatar-1:after {
        background: linear-gradient(
          to left, 
          rgba(255, 255, 255, 0) 0%, 
          rgba(255, 255, 255, 0.4) 50%, 
          rgba(255, 255, 255, 0.6) 100%
        );
      }
      
      &.avatar-5:after {
        background: linear-gradient(
          to right, 
          rgba(255, 255, 255, 0) 0%, 
          rgba(255, 255, 255, 0.4) 50%, 
          rgba(255, 255, 255, 0.6) 100%
        );
      }

      &.avatar-6:after {
        background: linear-gradient(
          to right, 
          rgba(255, 255, 255, 0.7) 0%, 
          rgba(255, 255, 255, 0.8) 50%, 
          rgba(255, 255, 255, 0.9) 100%
        );
      }

      @media (max-width: 768px) {
        &.avatar-0,
        &.avatar-1,
        &.avatar-5,
        &.avatar-6 {
          display: none;
        }
      }
    }

    & .active-testimonial {
      @media (min-width: 575px) {
        width: fit-content !important;
      }
    }
  }
}


/* TASK 2 - SCROLL */

section.scroll {
  padding: calc(1.5625vw + 30px);
  @media (max-width: 575px) {
    padding: calc(1.5625vw + 10px);
  }
  background-color: #F9FDF7;
  
  & .scroll-cont {
    padding: calc(1.5625vw + 30px);
    border: 2px solid #ececec;
    border-radius: 2rem;

    & .tabs-cont {
      position: relative;

      & .tabs {

        & button {
          z-index: 1;
          border: 1px solid #ececec;
          text-transform: uppercase;
          font-size: 1rem;
          @media (max-width: 991px) {
            font-size: 0.8rem;
          }
        }
        
        & button.active {
          color: #FFF;
        }

        & button.active:last-child {
          background-color: var(--bs-indigo);
        }
      }

      & .progress-bar {
        position: absolute;
        bottom: 1rem;
        @media (max-width: 992px) {
          width: 93% !important;
          left: 1.4rem;
        }
        border: 0.5px solid #ececec;
        background-color: #F9FDF7;
        
        & .filler {
          border: 2px solid #000;
        }
      }
    }

    & .scroll-content {

      .content-img {
        width: 70%;
        @media (max-width: 991px) {
          width: 70dvw;
        }
        height: auto;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      .heading {
        font-size: 2.25rem;
        font-weight: 600;
        @media (max-width: 575px) {
          font-size: 1.375rem;
        }
      }

      .sub-heading {
        color: #667085;
      }

      .list {
        padding-left: 1.75rem;
        margin-bottom: 0.5rem;
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
  }
}


/* FOOTER */

footer {
  padding: 25px;
  text-align: center;
  background-color: #1c1c1c;
  color: #FFF;
  font-size: 1.25rem;
  @media (max-width: 575px) {
    font-size: 1rem;
  }
}


/* 404 PAGE */

.page-404 {
  height: calc(100dvh - 80px - 80px);
  padding: calc(1.5625vw + 30px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1 {
    text-align: center;
    font-size: 7rem;
  }
}