/* General */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Instrument Sans', sans-serif;
}

ul {
  list-style: none;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 320px;
  min-height: 100dvh;
}