/* General */

ul {
  list-style: none;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}